@font-face {
    font-family: "FS Lola Bold";
    src: url("https://www.mbank.pl/.templates/css/fonts/fslola-bold.eot");
    src: local("☺"), url("https://www.mbank.pl/.templates/css/fonts/fslola-bold.eot") format("embedded-opentype"), url("https://www.mbank.pl/.templates/css/fonts/fslola-bold.woff") format("woff"), url("https://www.mbank.pl/.templates/css/fonts/fslola-bold.ttf") format("truetype"), url("https://www.mbank.pl/.templates/css/fonts/fslola-bold.svg#fslola-bold") format("svg");
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: "FS Lola Medium";
    src: url("https://www.mbank.pl/.templates/css/fonts/fslola-medium.eot");
    src: local("☺"), url("https://www.mbank.pl/.templates/css/fonts/fslola-medium.eot") format("embedded-opentype"), url("https://www.mbank.pl/.templates/css/fonts/fslola-medium.woff") format("woff"), url("https://www.mbank.pl/.templates/css/fonts/fslola-medium.ttf") format("truetype"), url("https://www.mbank.pl/.templates/css/fonts/fslola-medium.svg#fslola-medium") format("svg");
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: "FS Lola";
    src: url("https://www.mbank.pl/.templates/css/fonts/fslola-regular.eot");
    src: local("☺"), url("https://www.mbank.pl/.templates/css/fonts/fslola-regular.eot") format("embedded-opentype"), url("https://www.mbank.pl/.templates/css/fonts/fslola-regular.woff") format("woff"), url("https://www.mbank.pl/.templates/css/fonts/fslola-regular.ttf") format("truetype"), url("https://www.mbank.pl/.templates/css/fonts/fslola-regular.svg#fslola-regular") format("svg");
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: "FS Lola Light";
    src: url("https://www.mbank.pl/.templates/css/fonts/fslola-light.eot");
    src: local("☺"), url("https://www.mbank.pl/.templates/css/fonts/fslola-light.eot") format("embedded-opentype"), url("https://www.mbank.pl/.templates/css/fonts/fslola-light.woff") format("woff"), url("https://www.mbank.pl/.templates/css/fonts/fslola-light.ttf") format("truetype"), url("https://www.mbank.pl/.templates/css/fonts/fslola-light.svg#fslola-light") format("svg");
    font-style: normal;
    font-weight: normal
}