@media (min-width: 450px) {
    .bg-header {
        min-height: 150px;
    }
    .bg-header-man {
        background: url(../img/header_man_xl.jpg) no-repeat center/cover;
    }
    .bg-header-woman {
        background: url(../img/header_woman_xl.jpg) no-repeat center/cover;
    }
    .checkmark {
        top: 10px;
    }
}
@media (min-width: 768px) {
    .white-box {
        margin-top: 0;
    }
    .bg-header {
        min-height: 98px;
    }
    .bg-header-man {
        background: url(../img/header_man_xl.jpg) no-repeat center/cover;
    }
    .bg-section-1-man {
        background: url(../img/section_1_man_xl.jpg) no-repeat center/cover;
    }
    .bg-section-2-man {
        background: url(../img/section_2_man_xl.jpg) no-repeat center/cover;
    }
    .bg-header-woman {
        background: url(../img/header_woman_xl.jpg) no-repeat center/cover;
    }
    .bg-section-1-woman {
        background: url(../img/section_1_woman_xl.jpg) no-repeat center/cover;
    }
    .bg-section-2-woman {
        background: url(../img/section_2_woman_xl.jpg) no-repeat center/cover;
    }
    .bg {
        min-height: 300px;
    }
    .bg-grey {
        background: #fff;
    }
    .text-section {
        padding: 3rem;
    }

    h1 {
        font-size: 2.3rem;
        text-align: left;
        line-height: 2.4rem;
    }
    h3 {
        font-size: 1.8rem;
    }
    h4 {
        font-size: 1.3rem;
        text-align: left;
    }
    h5 {
        font-size: 1.3rem;
        text-align: left;
    }
    h6 {
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: left;
    }
    header h6 {
        line-height: 2.5rem;
    }
    section.text-center h4 {
        text-align: center;
    }
    .info-text {
        /*font-size: 13px;*/
    }
    .text-field input {
        font-size: 13px;
        line-height: 24px;
    }
    .text-field label div {
        font-size: 13px;
    }
    .text-field .messages {
        font-size: 13px;
    }
    .btn {
        font-size: 13px;
        line-height: 24px;
    }
    .btn img,
    .btn.send img {
        width: 5px;
        right: -20px;
    }
    form {
        width: 90%
    }
    .checkmark {
        top: 4px;
    }
}

@media (min-width: 1024px) {
    .text-section {
        padding: 4rem 5rem;
    }
}

@media (min-width: 1200px) {
    section.container-fluid {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
    }
    .sep {
        width: 80%;
    }
    .white-box {
        width: 80%;
        margin-left: 0;
    }
}
