html,
body {
    height: 100%
}
body {
    font-family: 'FS Lola', Arial, Helvetica, serif;
    color: #323232;
    font-size: 12px;
}

*, :after, :before {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

form.disabled input,
form.disabled textarea,
form.disabled button,
form.disabled select {
    pointer-events: none;
}

.thin {
    font-family: 'FS Lola Light', Arial, Helvetica, serif;
}
.medium {
    font-family: 'FS Lola Medium', Arial, Helvetica, serif;
}
.bold {
    font-family: 'FS Lola Bold', Arial, Helvetica, serif;
}
header h1,
header h6 {
    letter-spacing: -1.15px;
}
h1 {
    font-size:  8.6vw;
    line-height: 8.6vw;
}
h3 {
    font-size:  7.4vw;
}
h4 {
    font-size:  6.4vw;
}
h5 {
    font-size:  5.6vw;
}
h6 {
    font-size: 4.7vw;
    line-height: 7.8vw;
}

.letter-sp {
    letter-spacing: -1px;
}
.bigger {
    font-size: larger;
}
header > div > div {
    padding: 20px;
}
.bg-header {
    min-height: 98px;
}
.bg-header-man {
    background: url(../img/header_man_sm.jpg) no-repeat center/cover;
}
.bg-section-1-man {
    background: url(../img/section_1_man_sm.jpg) no-repeat center/cover;
}
.bg-section-2-man {
    background: url(../img/section_2_man_sm.jpg) no-repeat center/cover;
}
.bg-header-woman {
    background: url(../img/header_woman_sm.jpg) no-repeat center/cover;
}
.bg-section-1-woman {
    background: url(../img/section_1_woman_sm.jpg) no-repeat center/cover;
}
.bg-section-2-woman {
    background: url(../img/section_2_woman_sm.jpg) no-repeat center/cover;
}
.bg {
    min-height: 197px;
}
.logo {
    max-width: 33%;
}
.white-box {
    margin: -48px auto 0;
    background: #fff;
    padding: 10px;
    text-align: center;
}

a {
    font-family: 'FS Lola Medium', Arial, Helvetica, serif;
    color: #555;
    text-decoration: underline;
}
a:hover {
    color: #000;
}
img {
    max-width: 100%;
}
.text-section {
    padding: 1.4rem;
}

.tooltip > .tooltip-inner {
    background-color: #888888;
    border-bottom-color: #f00;
    text-align: left;
    max-width: 350px;
    width: 350px;
    padding: 15px;
    line-height: 1.2rem;
}


/* form */

.text-field {
    padding-bottom: 7px;
    margin-bottom: 7px;
}

.text-field input {
    border: #ddd solid 1px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    line-height: 6vw;
    font-size: 4vw;
    padding: 5px 17px;
    display: block;
    width: 100%;
    outline: 0;
    font-family: 'FS Lola Medium', Arial, Helvetica, serif;
}

.text-field label div {
    padding-left: 20px;
    font-size: 3.6vw;
}

.text-field label input {
    display: inline-block;
    width: auto;
    float: left;
}

.text-field .messages {
    position: absolute;
    bottom: -9px;
    left: 35px;
    /*font-size: 13px;*/
    font-size: 2.5vw;
}

.text-field.has-error input {
    /*border-color: #e51e0b;*/
    background: rgba(229, 30, 11, 0.07);
}

.text-field.has-error .messages {
    color: #e51e0b;
}

.info-text {
    font-size: 4vw;
}

.info-text div span {
    display: none;
}


/* buttons */

.btn {
    background-color: #e51e0b;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    border: none;
    font-family: 'FS Lola', Arial, Helvetica, serif;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    -moz-transition: background-color .2s;
    transition: background-color .2s;
    font-size: 5vw;
    line-height: 9vw;
    width: 100%;
}

.btn:active, .btn:focus, .btn:hover {
    background-color: #d1212e;
}

.btn.send {
    width: 255px;
    max-height: 70px;
    padding: 5px 0 10px;
    font-size: 20px;
    line-height: 48px;
    text-decoration: none;
    margin: 20px auto;
}
.btn.send:hover {
    color: white;
}
.btn img {
    width: 1.8vw;
    margin-bottom: 5px;
    position: relative;
    right: -20vw;
    filter: invert(100%)
}
.btn.send img {
    width: 1vw;
    right: -2vw;
}


/* carousel */

.carousel {
    height: 28vw;
}
.carousel-indicators {
    bottom: 10px;
}
.carousel-indicators > li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #d0d0d0;
}
.carousel-indicators .active {
    background: #e5210e;
}
.carousel-inner {
    height: 18vw;
    margin-top: 15px;
}
.carousel-item {
    text-align: center;
    vertical-align: middle;
}
.carousel-item img {
    margin: 0 auto;
}


/* icons */

.icons {
    justify-content: space-around;
    align-items: center;
}
.icons > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.icons > div > p {
    margin: auto;
    margin-left: 10px;
}
.sep {
    width: 80vw;
    margin: 4px auto;
}





/* colors */

.red {
    color: #ff0000;
}
.grey {
    color: #6c6c6c;
}
.bg-grey {
    background: #eeeeef;
}



/* checkmark */

form input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0;
    height: 0;
}
.checkmark {
    position: absolute;
    top: 4px;
    left: 10px;
    width: 12px;
    height: 12px;
    border-radius: 0;
    margin-left: 5px;
    border: 1px solid #000;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
form input[type="checkbox"]:checked ~ .checkmark:after {
    display: block;
}
form .checkmark:after {
    left: 1px;
    top: 0;
    width: 7px;
    height: 7px;
    border: solid #e51e0b;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

footer {
    font-size: 13px;
}
#typ {
    margin: 50px auto;
}
